.st0{fill:#FFC470;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#8B322C;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:#DD5746;stroke:#000000;stroke-miterlimit:10;}
.st3{fill:#4793AF;stroke:#000000;stroke-miterlimit:10;}
.st4{fill:none;stroke:#000000;stroke-miterlimit:10;}
.svg{enable-background:new 0 0 960 560;}
/* .st0{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:url(#SVGID_00000137127456809892584100000005397252075657332637_);}
.st1{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:url(#SVGID_00000127032899537166176930000010158762927816790975_);}
.st2{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:url(#SVGID_00000129195161238612286880000004803304912455950013_);}
.st3{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:url(#SVGID_00000029029574031316512860000011832241826760861056_);}
.st4{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);} */
.st5{fill:#0D83A3;}
.st6{fill:#5A9BBF;}
.st7{fill:#03657C;}
.st8{fill:#0C492A;}
.st9{fill:#006837;}
.st10{fill:#00532C;}
.st11{fill:#007D3C;}
.st12{fill:#47A549;}
.st13{display:none;}
.st14{display:inline;fill:#D7D7D9;}
.st15{display:inline;fill:#EFEFF1;}
.st16{display:inline;fill:#818283;}
.st17{display:inline;fill:#4E4D4D;}
.st18{fill:#5C5D61;}
.st19{fill:#33373D;}
.st20{fill:#161820;}
.st21{fill:#818283;}
.st22{fill:#4E4D4D;}
.st23{fill:#B0AFAB;}
.st24{fill:#A09C99;}
.st25{fill:#6B6864;}
.st26{fill:#3E3D3C;}
.st27{display:inline;fill:#E0E1DC;}
.st28{display:inline;fill:#A5BBC3;}
.st29{fill:#99999B;}
.st30{fill:#5B595E;}
.st31{fill:#34353A;}
.st32{fill:#212125;}
.st33{fill:#4C4B50;}
.st34{fill:#00512B;}
.st35{fill:#013F20;}
.st36{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:#0C492A;}
.st37{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:#009245;}
.st38{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:#B78155;}
.st39{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:#754C24;}
.st40{fill:#C7B299;}
.st41{fill:#754C24;}
.st42{fill:#8C6239;}
.st43{fill:#C69C6D;}
.st44{fill:#A67C52;}
.st45{fill:#007C42;}
.st46{fill:#009245;}
.st47{fill:#02562C;}
.st48{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:#03873E;}
.st49{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:#C7E7EF;}
.st50{fill:#B1B9BA;}
.st51{fill:#EDF2F2;}
.st52{fill:#FFFFFF;}
.st53{clip-path:url(#SVGID_00000026150922722218706850000015431526459916726925_);fill:#E5E5B3;}